input {
  width: 600px;
  background-color: #eee;
  display : block;
  padding: 20px;
  margin: 10px;
  border: 0;
  border-bottom: 2px solid ;
    caret-color: #F44336;
  border-image: linear-gradient(
  to right,
  #F44336 50%,
  #009688 50%
  ) 1 ;
  
}