.p {
  background-color: #eee;
  width: 400px;
  height: 200px;
  text-align: center;
  margin: 10px;
  padding-top: 15px;
  margin-top:40px;
  
  transition-duration: 0.5s;
  
    
}
.f {
  background-color: #ddd;
  padding: 10px;
  margin: 10px auto;
  width: 80%;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  
}
.p:hover {
  margin-top: 10px;

  
  

}
.p:hover .f {
  
/*  top: 100px;*/
  margin: 50px auto;
}